$color-purple: #9370DB;
$color-purple-hover: rgb(0, 0, 0);

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(255, 255, 255);
    font-size: 18px;
}
h3{
    color: rgb(255, 255, 255);
}
.dimmed-p{
    color:rgb(199, 199, 199)
}


.dlazby-img{
    width: 100%;
    border-radius: 2%;
}
.big-text{
    font-size: 70px;
    font-weight: 600;
}
span{
    color: $color-purple;
    font-weight: 800;
}
.mg-top-5{
    margin-bottom: 5vh;
}

.mg-btm-4{
    margin-bottom: 4vh;
}
.gray{
    background-color: rgb(25, 25, 25);
}
main{

    .container{
        margin-top: 10vh;

    }

    h1{
        color: white;
    }
    .row{
        margin-bottom: 4vh;
    }

    .project-container{
        flex-direction: column;
        border-style: solid;
        border-color: rgb(55, 55, 55);
        border-radius: 20px;
        border-width: 1px;

        align-items: center;
        padding: 1vw;

        transition: 0.3s;
        background-color: black;
    }

    .project-container:hover{
        box-shadow: 0px 0px 20px rgb(99, 99, 99) ;

        height: 101%;
        width: 101%;


    
        
    }

    /* Sluzby Icons */

    .sluzby-container{
        justify-content: space-between;

    }
    .sluzby-item{
        border: solid white;
        border-width: 2px;
        border-radius: 8px;
        flex-direction: column;
        padding-top: 2vh;
        padding-bottom: 2vh;

        
    }
    
    .icon{
        height: 70px;
        
    }

    


    /* mailer */
    .form{
        
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1.2rem;
    }
    
    input{
        width: 100%;
        border: none;
        border-radius: 0.5vh;
        text-align: center;
        
    }
    #email{
        height: 4vh;
    }
    #message{
        height: 7vh
    }
    #form-submit{
        width: 100px;
        height: 4vh;
        color: white;
        background-color: $color-purple;
        border: none;
        border-radius: 0.5vh;
    }
    #form-submit:hover{
        
        background-color: $color-purple-hover;
        
    }

    #form-submit:active,
    #form-submit:focus{
        
        background-color: $color-purple-hover;
        outline: none;
        box-shadow: none;
    }
}
footer{
    p{
        font-size: 12px;
        margin: 5px;
    }
    h3{
        color: rgb(255, 255, 255);
    }
}
body{
    height: 3000px;
    background-color: black;    
}

// do 700px (napr. tablety)
@media (max-width: 767px) {
    
    p{
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    h3{
        color: rgb(255, 255, 255);
    }
    .dimmed-p{
        color:rgb(199, 199, 199)
    }
    
    
    .dlazby-img{
        width: 100%;
        border-radius: 2%;
    }
    .big-text{
        font-size: 60px;
        font-weight: 600;
    }
    span{
        color: $color-purple;
        font-weight: 800;
    }
    .mg-top-5{
        margin-bottom: 5vh;
    }
    
    .mg-btm-4{
        margin-bottom: 4vh;
    }
    .gray{
        background-color: rgb(25, 25, 25);
    }
    main{
    
        .container{
            margin-top: 10vh;
    
        }
    
        h1{
            color: white;
        }
        .row{
            margin-bottom: 4vh;
        }
    
        .project-container{
            flex-direction: column;
            border-style: solid;
            border-color: rgb(55, 55, 55);
            border-radius: 20px;
            border-width: 1px;
    
            align-items: center;
            padding: 1vw;
    
            transition: 0.3s;
            background-color: black;
        }
    
        .project-container:hover{
            box-shadow: 0px 0px 20px rgb(99, 99, 99) ;
    
            height: 101%;
            width: 101%;
    
    
        
            
        }
    
        /* Sluzby Icons */
    
     
        .sluzby-item{
            border: solid white;
            border-width: 2px;
            border-radius: 8px;
            flex-direction: column;
            padding-top: 2vh;
            padding-bottom: 2vh;
    
            
        }
        
        .icon{
            height: 70px;
            
        }
    
        
    
    
        /* mailer */
        .form{
            
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 1.2rem;
        }
        
        input{
            width: 100%;
            border: none;
            border-radius: 0.5vh;
            text-align: center;
            
        }
        #email{
            height: 4vh;
        }
        #message{
            height: 7vh
        }
        #form-submit{
            width: 100px;
            height: 4vh;
            color: white;
            background-color: $color-purple;
            border: none;
            border-radius: 0.5vh;
        }
        #form-submit:hover{
            
            background-color: $color-purple-hover;
            
        }
    
        #form-submit:active,
        #form-submit:focus{
            
            background-color: $color-purple-hover;
            outline: none;
            box-shadow: none;
        }
    }
    footer{
        p{
            font-size: 12px;
            margin: 5px;
            text-align: center;
        }
        h3{
            color: rgb(255, 255, 255);
        }
    }
    body{
        height: 3000px;
        background-color: black;    
    }
    
  }
  

  // do 700px (napr. tablety)
